.cartWrapper {
    width: 80%;
    margin: 2rem auto;
}

.cartContentHolder {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    flex: 1 1 50%;
}

.ListOfOrders {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
    max-height: 100vh;
    overflow: scroll;
    padding: 10px;
    width: 60%;
    margin: 10px 0;
}

.NoContent svg {
    width: 300px;
}

.NoContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem 0;
}

.NoContent h1 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.6rem;
    text-align: center;
    margin: 16px 0;
    opacity: 0.5;
    font-weight: 400;
}

.OrderSummary h1 {
    font-family: "Nunito Sans", sans-serif;
    text-align: center;
    opacity: 0.8;
    border-bottom: 1px solid #00000021;
    padding: 10px 0;
    color: green;
    font-size: 18px;
    font-weight: 500;
    color: #424767;
}

.OrderSummary {
    width: 400px;
}

.summaryDesc {
    background-color: #f9f7f3;
    box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.BackIcon svg {
    font-size: 1.8rem;
    color: rgba(0, 0, 0, 0.597);
}

.summaryLine {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin: 20px 0;
}

.total {
    border-top: 2px dashed rgb(0 0 0 / 13%);
    padding: 10px 0;
    margin: 0;
}

.total span {
    font-weight: 500;
}

.summaryLine span {
    font-size: 14px;
}

.summaryLine span:last-child {
    font-family: "Nunito Sans", sans-serif;
}

.OrderNow button {
    background: #ff9900;
    box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 6px;
}

.inActiveOrderNow button {
    cursor: not-allowed;
    opacity: 0.4;
}

.OrderNow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.activeOrderNow button:hover {
    background: #e58a01;
}

.ListFoodCardWrapper {
    margin: 10px;
    width: 100%;
    min-width: 400px;
}

.listProductWrapper {
    width: 100%;
}

.cartWrapper .wrapper {
    background: #f9f7f3 !important;
}

@media only screen and (max-width:991px) {
    .cartContentHolder {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .ListOfOrders {
        width: 100%;
        max-height: 70vh;
    }

    .OrderSummary {
        min-width: 400px;
    }
}

@media only screen and (max-width:680px) {
    .cartWrapper {
        width: 90%;
    }

    .NoContent h1 {
        font-size: 1.4rem;
    }

    .deleteItemIcon {
        bottom: 10px;
    }

    .deleteItemIcon span {
        display: none;
    }

    .NoContent svg {
        width: 200px;
    }
}

@media only screen and (max-width:420px) {
    .OrderSummary {
        min-width: unset;
        width: 100vw;
    }

    .NoContent h1 {
        font-size: 1rem;
    }

    .NoContent svg {
        width: 180px;
    }
}