.sidebar-min-width {
  width: min(100%, 400px);
}

.sidebar-li {
  color: #424767;
  padding: 12px 15px;
  margin: 15px 20px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  align-items: center;
  cursor: pointer;
  font-weight: 400;
  transition: 300ms;
  border-bottom: .0625rem solid #efefef !important;
}

.sidebar-li-lang {
  background: #dbd8d2;
  display: block;
  text-align: center;
  padding: 6px 12px;
  border-radius: 15px;
  margin: 0 4px;
  transition: 300ms ease;
}

.sidebar-li-lang:hover {
  color: red;
  background: #d0cdc8;
}

.sidebar-ul {
  display: inline-block;
  padding-top: 1rem;
}

.sidebar-li:hover {
  background: #e6e4e4bd;
}

.sidebar {
  position: fixed;
  transition: transform 0.3s ease;
  z-index: 1;
  box-shadow: 6px 8px 15px -3px rgb(0 0 0 / 10%);
  top: 79px;
  bottom: 0;
  background-color: #f9f7f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-unactive {
  transform: translateX(-100%);
  /* Start hidden off-screen */
}

/* Sidebar active (visible) state */
.sidebar-active {
  transform: translateX(0);
  /* Slide in */
}

.optName {
  display: flex;
  align-items: center;
  gap: 14px;
}

.optName svg,
.logOutBtn svg,
.userProfile svg {
  font-size: 22px;
}

.logOutBtn svg {
  color: #ea755e;
}

.logOutBtn {
  padding: 12px 15px;
  margin: 15px 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.logOutBtn span {
  font-size: 13px;
  color: #ea755e;
}

.userProfile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  transform: translateY(0.7rem);
  background: #e6e4e4bd;
  padding: 15px 0;
  width: 90%;
  margin: 0px auto;
  border-radius: 4px;
}

.userProfile p {
  font-size: 14px;
  text-transform: capitalize;
  color: #424767;
}

.userProfile svg {
  color: #424767;
}


@media only screen and (max-width:560px) {
  .sidebar-min-width {
    width: 100%
  }
}