/* From Uiverse.io by Harsha2lucky */
.singinContainer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background: #000000bd;
    backdrop-filter: blur(12px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    position: relative;
    position: relative;
    position: relative;
    margin: 0rem auto;
    width: 330px;
    padding: 60px;
    border-radius: 10px;
    background: #f9f7f3;
    box-shadow: 3px 3px 60px #00000070;
}

.content .text {
    font-size: 21px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 35px;
    color: #595959;
    font-family: Roboto;
}

.field {
    height: 50px;
    width: 100%;
    display: flex;
    position: relative;
    border: .0625rem solid rgb(221 221 221 / 62%);
    border-radius: 10px;
}

.field:nth-child(2) {
    margin-top: 20px;
}

.field .input {
    height: 100%;
    width: 100%;
    padding-left: 45px;
    outline: none;
    border: none;
    font-size: 13px;
    background: transparent;
    color: black;
    border-radius: 10px;
}

.field .input:focus {
    box-shadow: inset 1px 1px 2px #BABECC,
        inset -1px -1px 2px #ffffff73;
}

.field .span {
    position: absolute;
    color: #595959;
    width: 50px;
    line-height: 55px;
}

.forgot-pass {
    text-align: left;
    margin: 10px 0 10px 5px;
}

.forgot-pass a {
    font-size: 16px;
    color: #000;
    text-decoration: none;
}

.forgot-pass:hover a {
    text-decoration: underline;
}

.button {
    margin: 15px 0;
    width: 100%;
    font-size: 13px;
    padding: 13px 0;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    border: 1px solid #e6e7ed;
    color: white;
    box-shadow: 2px 2px 5px #BABECC, -5px -5px 10px #ffffff73;
    background-color: #ea755e;
    border-color: #ea755e;
}

.button:focus {
    color: #3498db;
    box-shadow: inset 2px 2px 5px #BABECC,
        inset -5px -5px 10px #ffffff73;
}

.sign-up {
    margin: 10px 0;
    color: #595959;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    flex-wrap: wrap;
}

.sign-up p {
    font-size: 13px;
    font-family: "Nunito Sans", sans-serif;
}

.sign-up span {
    color: #ea755f;
    font-size: 13px;
    text-decoration: none;
    cursor: pointer;
    font-family: "Nunito Sans", sans-serif;
}

.singinContainer .field span {
    line-height: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    width: unset;
    top: 50%;
    transform: translateY(-50%);
    left: 14px;
    color: #4e5079;
}

.singinContainer .field span svg {
    font-size: 20px;
    color: #4e5079;
}

.sign-up span:hover {
    text-decoration: underline;
}

.loginOptions {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loginOptions ul {
    display: flex;
    gap: 1rem;
    margin: 20px 0;
}

.closePopUp {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
}

.closePopUp svg {
    opacity: 0.4;
    font-size: 21px;
}

/* btn-singin */

.btn-singin {
    display: grid;
    place-items: center;
    background: #f5f5f5;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: transform 0.5s;
    border-radius: 50%;
    border: 1px solid #f9f7f3;
    margin: 1rem 0;
}

.btn-singin:hover {
    box-shadow:
        inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
        inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
        -0.5px -0.5px 0px rgba(255, 255, 255, 1),
        0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
        0px 12px 10px -10px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transform: translateY(0.5em);
}

.btn-singin svg {
    transition: transform 0.5s;
    width: 20px;
    height: 20px;
}

.btn-singin:hover svg {
    transform: scale(0.9);
    fill: #333333;
}

@media only screen and (max-width:640px) {
    .content {
        width: 80%;
        padding: 30px 20px;
    }
}