.FilterNavContainer {
    transform: translateY(-5rem);
    position: relative;
}

.FilterNavWrapper {
    width: 80%;
    background-color: #fff;
    padding: 10px 12px;
    margin: 2rem auto;
    display: flex;
    gap: 0rem;
    border-radius: 5px;
    align-items: center;
    min-height: 70px;
    box-shadow: 0 .125rem .35rem rgba(226, 227, 228, .65);
}

.FilterNavWrapper .field .input {
    height: 100%;
    width: 100%;
    padding-left: 20px;
    outline: none;
    border: none;
    font-size: 14px;
    color: black;
    border-radius: 8px;
    box-shadow: none;
    background-color: #efefef;
}

.SearchIcon {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.FilterNavWrapper .input:focus {
    box-shadow: inset 1px 1px 2px #BABECC,
        inset -1px -1px 2px #ffffff73;
}

.FilterNavWrapper .field .span {
    position: absolute;
    color: #595959;
    font-size: 25px;
    left: 12px;
    top: 1.5px;
}

.FilterNavWrapper .field {
    width: 100%;
    display: flex;
    position: relative;
    margin: 0 !important;
}

.CrossIcon svg {
    color: #4e5079;
    font-size: 20px;
}

.filters {
    overflow-x: scroll;
    display: flex;
    gap: 10px;
    padding: 0 3px;
    width: 100%;
    justify-content: space-between;
}

.filters li {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 16px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 250ms;
    color: #4e5079;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    min-width: max-content;
}

.filters a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filters li:hover {
    background: #efefef;
}

.SearchIcon svg {
    font-size: 25px;
    opacity: 0.6;
    color: #4f5079;
}

.inActivefield {
    width: 0 !important;
    opacity: 0;
    visibility: hidden;
}

.inActivefield .field .input {
    padding: 0;
}

.fieldActive {
    transition: all 300ms ease;
    width: 100%;
    margin: 0 10px;
    opacity: 1;
    visibility: visible;
}

.fieldActive~.filters {
    width: 0;
    scale: 0;
}

@media only screen and (max-width:991px) {
    .FilterNavWrapper {
        width: 88%;
    }
}

@media only screen and (max-width:680px) {
    .FilterNavWrapper {
        gap: 0rem;
        padding: 0 10px;
    }

    .filters li {
        padding: 10px;
    }

    .fieldActive {
        margin: 0;
    }
}