.orderNowWrapper {
    width: 80%;
    margin: 3rem auto;
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    align-items: center;
    gap: 0px;
    margin: 2rem 0;
    margin-left: 4rem;
    display: flex;
    align-items: center;
}

.header svg {
    font-size: 21px;
    color: green;
}

.header h2 {
    font-family: Roboto;
    font-size: 18px;
    text-align: center;
}

.form-container {
    background: #ecf0f3;
    box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
    padding: 30px;
    border-radius: 20px;
    max-width: 400px;
    width: 100%;
}

.OrderNowContainer p {
    font-size: 0.8rem;
    color: #555;
    margin-bottom: 10px;
    font-family: Roboto;
    font-weight: 400;
}

.form-group label a {
    text-decoration: underline;
    color: #555;
    font-size: 13px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 10px;
    display: block;
}

.formGroupHolder {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

/* Input, Textarea, Select */
.form-input,
.form-textarea,
.form-select {
    width: 100%;
    padding: 10px;
    font-size: 13px;
    border-radius: 12px;
    border: none;
    outline: none;
    box-shadow: inset 2px 2px 5px #ceced1, inset -4px -4px 8px #ffffff;
    color: #333;
    background: #ecf0f3;
    border-radius: 10px;
    padding: 13px 14px;
}

.form-select {
    appearance: none;
}

.form-input,
.form-textarea {
    width: calc(100% - 25px);
}

.form-input:focus,
.form-textarea:focus,
.form-select:focus {
    box-shadow: inset 1px 1px 2px #BABECC,
        inset -1px -1px 2px #ffffff73;
}

.form-textarea {
    resize: none;
    height: 60px;
}

/* Checkbox */
.form-checkbox-label {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 5px;
}

.form-checkbox {
    margin-right: 10px;
    accent-color: #333;
    width: 18px;
    height: 18px;
    transform: translateY(-10px);
}

/* Payment Button */
.payment-option {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 12px;
    background: #ecf0f3;
    box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
    cursor: pointer;
    align-items: center;
    transition: transform 0.2s;
    gap: 12px;
    width: 100%;
}

.payment-option:hover {
    transform: translateY(-3px);
}

.payment-option svg {
    font-size: 24px;
}

.payment-option span {
    font-size: 12px;
    color: #333;
}

.payOptionWrapper {
    display: flex;
    align-items: center;
    gap: 17px;
    margin: 2rem 0;
    margin-bottom: 1rem;
    justify-content: space-between;
}

.form-container h1 {
    font-size: 15px;
    font-family: Poppins;
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 500;
}

.form-container h1 span {
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    color: #A91E2C;
}