.orderNowHolder1 {
    width: 80%;
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.orderNowWrapper .form-container {
    background-color: #f9f7f3;
    border-radius: 10px;
    padding: 40px;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.orderNowWrapper label {
    font-size: 13px;
    font-family: Roboto;
    color: #424767;
}

.orderNowWrapper .formGroupHolder {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.orderNowWrapper .form-group {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 15px;
}

.orderNowWrapper .form-select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    font-size: 13px;
    appearance: none;
}

.orderNowWrapper .form-checkbox-label {
    display: flex;
    align-items: center;
    gap: 5;
    flex-direction: row;
}

.orderNowWrapper .form-checkbox {
    width: 11px;
}

.orderNowWrapper .form-checkbox-label label {
    color: #424767;
    font-size: 12px;
}

.orderNowWrapper .form-checkbox-label a {
    color: #ea755f;
    text-decoration: underline;
}

.orderNowWrapper .form-input,
.orderNowWrapper .form-textarea {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 12px;
}

.orderNowWrapper .form-textarea {
    height: 80px;
    resize: vertical;
}

.orderNowWrapper .form-title {
    font-size: 1.4em;
    font-weight: bold;
    color: #333;
    margin: 20px 0;
}

.orderNowWrapper .form-title span {
    color: #0073e6;
}

.orderNowWrapper .payOptionWrapper {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    justify-content: space-around;
}

.orderNowWrapper .payment-option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 15px;
    border-radius: 8px;
    background-color: #1c2540;
    cursor: pointer;
    font-weight: 400;
    color: #ffffff;
    transition: background-color 0.3s;
    font-size: 13px;
    width: 100%;
}

.orderNowWrapper .payment-option:hover {
    background-color: #ea755e;
}

.orderNowWrapper .payment-option span {
    font-family: "Nunito Sans", sans-serif;
    font-size: 13px;
}

.orderNowWrapper .payment-option svg {
    font-size: 18px;
    margin-right: 8px;
    color: #fff;
}

.orderNowWrapper h1 {
    font-size: 15px;
    font-weight: 400;
    font-family: "Nunito Sans", sans-serif;
}

.orderNowWrapper h1 span {
    color: #b42104;
}

.submitBtn {
    margin-top: 2rem;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submitBtn button {
    cursor: pointer;
    padding: 14px 40px;
    border: none;
    border-radius: 8px;
    padding: 14px 40px;
    border: none;
    border-radius: 8px;
    width: 100%;
    background: #ea755e;
    color: white;
    font-size: 13px;
    transition: 250ms;
    box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
}

.payment-option .payOptSm {
    display: none;
}

@media only screen and (max-width:680px) {
    .orderNowHolder1 {
        width: 90%;
    }

    .payment-option .payOptMid {
        display: none;
    }

    .payment-option .payOptSm {
        display: block;
    }

    .payment-option svg {
        font-size: 15px !important;
    }

    .payment-option {
        margin: 10px 0;
        padding: 8px 15px;
    }

    .submitBtn {
        margin-top: 13px;
    }

    .payOptionWrapper {
        margin-top: 10px !important;
    }

    .orderNowWrapper h1,
    .orderNowWrapper h1 span {
        font-size: 13px;
    }

    .orderNowWrapper label {
        font-size: 12px;
    }

    .orderNowWrapper .form-checkbox-label label {
        font-size: 11px;
    }

    .orderNowWrapper .formGroupHolder {
        gap: 3px;
        margin-bottom: 10px;
    }

    .orderNowWrapper .form-container {
        padding: 20px 12px;
    }
}